header 
    div.logo: div.logo-overlay
    nav: ul
        li: a(href="#about") 
            i.fa.fa-male
            span Om mig
        li: a(href="#music")
            i.fa.fa-file-text-o 
            span CV
        li: a(href="#dev") 
            i.fa.fa-code
            span Portfolio
        li: a(href="#dev") 
            i.fa.fa-envelope
            span Kontakt
            
            
    a(href="#about")#back     
        i.fa.fa-arrow-circle-up
