
header 
    div.logo
    nav: ul
        li: a(href="{{ site.baseurl }}/") 
            i.fa.fa-male
            span Om mig
        li: a(href="{{ site.baseurl }}/")
            i.fa.fa-file-text-o 
            span CV
        li: a(href="{{ site.baseurl }}/") 
            i.fa.fa-code
            span Portfolio
    
